<div id="globalMenu">
    <span class="helpBtn se_decide" data-type="05" data-title="Memoria"></span>
</div>

<div id="sideMenu">
    <span id="menu" class="se_tabs btnOverlay"></span>
    <ul id="menuBtns">
        <li class="unit"><div class="linkBtn btnOverlay se_decide" data-href="#/CharaListTop"></div></li>
        <li class="innocent"><div class="linkBtn btnOverlay se_decide" data-href="#/MemoriaTop"></div></li>
        <li class="team"><div class="linkBtn btnOverlay se_decide" data-href="#/FormationTop"></div></li>
        <li class="gacha"><div class="linkBtn btnOverlay se_decide" data-href="#/GachaTop"></div></li>
        <li class="mission"><div class="linkBtn btnOverlay se_decide" data-href="#/MissionTop"></div></li>
        <li class="shop"><div class="linkBtn btnOverlay se_decide" data-href="#/ShopTop"></div></li>
    </ul>

    <span class="homeBtn btnOverlay se_decide linkBtn" data-href="#/MyPage"></span>
    <ul id="sideBigBtns">
        <li class="globalPatrolBtn globalBigBtn"><div class="linkBtn btnOverlay se_decide" data-href="#/PatrolTop"></div></li>
        <li class="globalQuestBtn globalBigBtn"><div class="linkBtn btnOverlay se_decide" data-href="#/MainQuest"></div></li>
        <li class="globalBattleBtn globalBigBtn"><div class="btnOverlay se_decide"></div></li>
        <li class="globalRegularEventBtn globalBigBtn"><div class="btnOverlay se_decide"></div></li>
        <li class="globalScene0Btn globalBigBtn"><div class="linkBtn btnOverlay se_decide" data-href="#/Scene0Top"></div></li>
    </ul>

    <div id="sideMenuCurtain"></div>
    <span id="sideMenuBg"></span>
</div>
