<div id="CharaCollection" style="display: none;">
    <div id="tabArea">
        <ul class="tabBtns">
            <li class="TE se_tabs current" data-att="ALL"><img src="magica/resource/image_web/common/chara/att_all.png"></li><!--
            --><li class="TE se_tabs" data-att="fire"><img src="magica/resource/image_web/common/chara/att_fire.png"></li><!--
            --><li class="TE se_tabs" data-att="water"><img src="magica/resource/image_web/common/chara/att_water.png"></li><!--
            --><li class="TE se_tabs" data-att="timber"><img src="magica/resource/image_web/common/chara/att_timber.png"></li><!--
            --><li class="TE se_tabs" data-att="light"><img src="magica/resource/image_web/common/chara/att_light.png"></li><!--
            --><li class="TE se_tabs" data-att="dark"><img src="magica/resource/image_web/common/chara/att_dark.png"></li><!--
            --><li class="TE se_tabs" data-att="void"><img src="magica/resource/image_web/common/chara/att_void.png"></li>
        </ul>
    </div>
    <div id="charaWrap" class="all commonFrame2">
        <h2>
            <span class="headerTitle">Magical Girls</span>
            <input type="text" id="charaSearchInput" placeholder="Search" autocomplete="off">
        </h2>
        <div id="charaHiddenWrap" class="hiddenWrap">
            <div id="charaWrapInner" class="charaWrapInner"></div>
        </div>
    </div>
</div>
